# Database
DB_URL=jdbc:mysql://localhost:3306/lingring?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEn ㄷcoding=UTF-8
DB_USERNAME=
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=

# Kakao
KAKAO_AUD=

# Apple
APPLE_AUD=
APPLE_TEAM_ID=
APPLE_KEY_ID=
APPLE_CLIENT_ID=
APPLE_PRIVATE_KEY=
APPLE_TOKEN_ENCRYPT_PASSWORD=
APPLE_TOKEN_ENCRYPT_SALT=

# Demo Login
DEMO_TOKEN_A=
DEMO_TOKEN_B=
DEMO_TOKEN_C=

# AWS
AWS_S3_BUCKET=
AWS_LAMBDA_CALL_ANALYSIS_ARN=
AWS_SQS_CALL_ANALYSIS_URL=

# Slack
SLACK_USER_TOKEN=
SLACK_PR_CHANNEL=
